/* Dealing with div whitespace issue:
see http://stackoverflow.com/questions/6871996/css-two-inline-block-width-50-elements-dont-stack */

.container {
    font-size: 0;
}


/* Box sizing */

* {
    box-sizing: border-box;
}


/* Assign styles here */

.wrapper {
	font-size: 2rem;
	display: inline-block;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	background-color: #dad9d9;
}

#photo {
	height: 400px;
	background: gray;
}